In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('fb.csv',encoding='latin-1')

In [27]:
df.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [17]:
df.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [26]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [30]:
df.groupby('Element')['Y2015']

In [45]:
a = df[['Element','Y2018']]

In [36]:
a = pd.concat([pd.DataFrame(df['Y2018']),pd.DataFrame(df['Element'])])

In [53]:
a.groupby('Element').sum()

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [57]:
b = df[['Element','Y2018','Area']]

In [97]:
pd.DataFrame(b.groupby('Element'))

                                         0                                                  1
0                 Domestic supply quantity                          Element    Y2018      ...
1                          Export Quantity                 Element  Y2018      Area
14    ...
2       Fat supply quantity (g/capita/day)                                    Element  Y20...
3                                     Feed        Element    Y2018      Area
16       Feed...
4                                     Food        Element   Y2018      Area
22       Food ...
5            Food supply (kcal/capita/day)                               Element   Y2018  ...
6      Food supply quantity (kg/capita/yr)                                     Element   Y...
7                          Import Quantity                 Element    Y2018      Area
12  ...
8                                   Losses        Element   Y2018      Area
18     Losses ...
9                    Other uses (non-food)                       Element  Y2018      Area
...
10                              Processing            Element  Y2018      Area
19     Proc...
11                              Production            Element   Y2018      Area
11     Pro...
12  Protein supply quantity (g/capita/day)                                        Element ...
13                               Residuals           Element  Y2018      Area
21     Resid...
14                                    Seed        Element  Y2018      Area
17       Seed  ...
15                         Stock Variation                 Element   Y2018      Area
13   ...
16           Total Population - Both sexes                               Element     Y2018...
17                     Tourist consumption                     Element  Y2018             ...

In [61]:
len(df['Area'].unique())

49

In [72]:
c = (1,2,3,4)

In [73]:
c[0] = 2

TypeError: ignored

In [75]:
df.groupby('Item').sum()

                     Area Code  Item Code  ...      Y2017      Y2018
Item                                       ...
Alcohol, Non-Food        38447     752497  ...    2348.00    2293.00
Alcoholic Beverages      75016    1649136  ...   95581.06   97847.27
Animal Products          18060     397035  ...   11547.65   11578.61
Animal fats              85279    1882494  ...  269617.53  269648.27
Apples and products      69280    1352989  ...   10198.90    9640.51
...                        ...        ...  ...        ...        ...
Vegetables, Other        77779    1518715  ...  157752.59  163987.21
Vegetal Products         18060     391905  ...  107655.20  107775.39
Wheat and products       87073    1639683  ...  240047.62  242645.19
Wine                     66206    1319535  ...    4178.02    4039.32
Yams                     50798     970905  ...  229174.59  221272.09

[119 rows x 8 columns]

In [77]:
df.groupby('Element').sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [78]:
df.corr()

              Area Code  Item Code  Element Code  ...     Y2016     Y2017     Y2018
Area Code      1.000000  -0.005159     -0.000209  ...  0.005247  0.005006  0.005665
Item Code     -0.005159   1.000000     -0.024683  ...  0.020109  0.021494  0.021314
Element Code  -0.000209  -0.024683      1.000000  ...  0.023444  0.024254  0.024279
Y2014          0.006164   0.021722      0.024457  ...  0.996081  0.995230  0.994872
Y2015          0.005472   0.020857      0.023889  ...  0.995739  0.988048  0.988208
Y2016          0.005247   0.020109      0.023444  ...  1.000000  0.992785  0.992757
Y2017          0.005006   0.021494      0.024254  ...  0.992785  1.000000  0.998103
Y2018          0.005665   0.021314      0.024279  ...  0.992757  0.998103  1.000000

[8 rows x 8 columns]